# Credit Card Fraud Detection Project

In [1]:
import pandas as pd
import numpy as np
import keras
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

In [2]:
cc_csv = pd.read_csv('creditcard.csv')

In [3]:
cc_csv.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
# Normalize the 'Amount' column using StandardScaler
cc_csv['NormalizedAmount'] = StandardScaler().fit_transform(cc_csv['Amount'].values.reshape(-1,1))

# Drop the original 'Amount' column
cc_csv = cc_csv.drop(['Amount'], axis=1)
cc_csv = cc_csv.drop(['Time'],axis=1)

In [5]:
cc_csv.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Class,NormalizedAmount
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0,0.244964
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0,-0.342475
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0,1.160686
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0,0.140534
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0,-0.073403

In [6]:
# Assign features (independent variables) to X
X = cc_csv.iloc[:, cc_csv.columns != 'Class']

# Assign target (dependent variable) to y
y = cc_csv.iloc[:, cc_csv.columns == 'Class']

In [7]:
X.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,NormalizedAmount
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.244964
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,-0.342475
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,1.160686
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.140534
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,-0.073403

In [8]:
y.head()

   Class
0      0
1      0
2      0
3      0
4      0

In [9]:
# X being capital and y being lowercase is a convention
# test_size = 0.3 means 30/70 split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3,random_state = 0) # Splitted the classes into these two

In [10]:
X_train = np.array(X_train) #converted X_train data to numpy array
X_test = np.array(X_test)
y_train = np.array(y_train)
y_test = np.array(y_test)

In [11]:
# Creates a 6-layer neural network
model = Sequential([
    Dense(units = 16,input_dim=29,activation = 'relu'),
    Dense(units = 24,activation = 'relu'),
    Dropout(0.5), # If any parameter is not according to our requirements, we will drop it here
    Dense(20,activation = 'relu'),
    Dense(24,activation = 'relu'),
    Dense(1,activation = 'sigmoid'), # use sigmoid instead of relu to calculate values
])

In [13]:
model.summary() # We will train on these parameters

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                480

 dense_1 (Dense)             (None, 24)                408

 dropout (Dropout)           (None, 24)                0

 dense_2 (Dense)             (None, 20)                500

 dense_3 (Dense)             (None, 24)                504

 dense_4 (Dense)             (None, 1)                 25

=================================================================
Total params: 1,917
Trainable params: 1,917
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Training
# optimizer optimizes code and gets weight of neural network
# binary_crossentropy makes the output either a zero or a one
# accuracy is the percentage of accurate outputs
model.compile(optimizer = 'adam',loss='binary_crossentropy',metrics=['accuracy'])
# epochs means how many times it will run
# batch size means how much data it will use
model.fit(X_train,y_train,batch_size = 15,epochs = 5)

Epoch 1/5
13291/13291 [==============================] - 12s 874us/step - loss: 0.0091 - accuracy: 0.9984
Epoch 2/5
13291/13291 [==============================] - 12s 915us/step - loss: 0.0038 - accuracy: 0.9993
Epoch 3/5
13291/13291 [==============================] - 13s 996us/step - loss: 0.0039 - accuracy: 0.9994
Epoch 4/5
13291/13291 [==============================] - 13s 954us/step - loss: 0.0035 - accuracy: 0.9994
Epoch 5/5
13291/13291 [==============================] - 13s 977us/step - loss: 0.0034 - accuracy: 0.9994

In [17]:
score = model.evaluate(X_test, y_test)

2671/2671 [==============================] - 2s 604us/step - loss: 0.0034 - accuracy: 0.9994

In [18]:
print(score)

[0.0033567193895578384, 0.9994031190872192]