In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
myIndex = ['United States', 'Taiwan', 'Pakistan', 'Austria']
myData = [329500000, 23570000, 220900000, 8917000]

In [4]:
mySeries = pd.Series(data = myData, index = myIndex)
mySeries

United States    329500000
Taiwan            23570000
Pakistan         220900000
Austria            8917000
dtype: int64

In [5]:
mySeries['Taiwan'] #prints population of Taiwan

23570000

In [6]:
#converts index to dictionary
Q1 = {'United States': 329500000, 'Taiwan': 23570000, 'Pakistan': 220900000, 'Austria': 8917000} 
Q2 = {'United States': 329500000, 'Taiwan': 23570000, 'Pakistan': 220900000, 'Czechoslovakia': 10751122}

In [7]:
Pop_Q1 = pd.Series(Q1) 
Pop_Q2 = pd.Series(Q2)
Pop_Q1.keys() # get the keys of any series

Index(['United States', 'Taiwan', 'Pakistan', 'Austria'], dtype='object')

In [8]:
Pop_Q1 + Pop_Q2 # adds values, not the right way to

Austria                   NaN
Czechoslovakia            NaN
Pakistan          441800000.0
Taiwan             47140000.0
United States     659000000.0
dtype: float64

In [9]:
Pop_Q1.add(Pop_Q2, fill_value = 0) #proper way

Austria             8917000.0
Czechoslovakia     10751122.0
Pakistan          441800000.0
Taiwan             47140000.0
United States     659000000.0
dtype: float64

In [10]:
np.random.seed(101) #fixed random number
randval = np.random.randint(0,101,(4,3)) # generating random number from 0-101 with 4x3 ndimensional array
randval

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [11]:
myIndex = ['United States', 'Taiwan', 'Pakistan', 'Austria']
myColumns = ['Jan', 'Feb', 'Mar']
df = pd.DataFrame(data = randval, index = myIndex, columns = myColumns)
df

               Jan  Feb  Mar
United States   95   11   81
Taiwan          70   63   87
Pakistan        75    9   77
Austria         40    4   63