In [1]:
import numpy as np

In [2]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
myIndex = ['United States', 'Taiwan', 'Pakistan', 'Austria']
myData = [329500000, 23570000, 220900000, 8917000]

In [ ]:
mySeries = pd.Series(data = myData, index = myIndex)
mySeries

In [ ]:
mySeries['Taiwan'] #prints population of Taiwan

In [ ]:
#converts index to dictionary
Q1 = {'United States': 329500000, 'Taiwan': 23570000, 'Pakistan': 220900000, 'Austria': 8917000} 
Q2 = {'United States': 329500000, 'Taiwan': 23570000, 'Pakistan': 220900000, 'Czechoslovakia': 10751122}

In [ ]:
Pop_Q1 = pd.Series(Q1) 
Pop_Q2 = pd.Series(Q2)
Pop_Q1.keys() # get the keys of any series

In [ ]:
Pop_Q1 + Pop_Q2 # adds values, not the right way to

In [ ]:
Pop_Q1.add(Pop_Q2, fill_value = 0) #proper way

In [ ]:
np.random.seed(101) #fixed random number
randval = np.random.randint(0,101,(4,3)) # generating random number from 0-101 with 4x3 ndimensional array
randval

In [ ]:
myIndex = ['United States', 'Taiwan', 'Pakistan', 'Austria']
myColumns = ['Jan', 'Feb', 'Mar']
df = pd.DataFrame(data = randval, index = myIndex, columns = myColumns)
df

In [ ]:
df = pd.read_csv('churn.csv') # reads the data from the csv

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.head(2) # shows the first few rows according to the values you specified

In [ ]:
df.head(5)

In [ ]:
df.describe() # gives information on your data

In [ ]:
df.describe().transpose()

In [ ]:
df['PhoneService']

In [ ]:
myColumn = ['PhoneService','InternetService']

In [ ]:
df[myColumn]

In [ ]:
df

In [ ]:
df['MonthlyCharges']+3

In [ ]:
df.set_index('customerID') # now the customerid is the index

In [ ]:
df.reset_index()

In [ ]:
df.set_index('customerID')

In [ ]:
df.iloc[2] #individual location, starts from zero

In [ ]:
# df.loc['9237-HQITU']

In [ ]:
df.['tenure']

In [ ]:
df[df['tenure']>50] # show only the ones greater than fifty

In [ ]:
df[df['Churn']=='Yes']

In [ ]:
df[(df['tenure']>50) & (df['Churn']=='Yes')]

In [ ]:
df[(df['tenure']>50) | (df['tenure']>60) | (df['tenure']>80)]

In [ ]:
values = ['DSL', 'No']

In [ ]:
df['InternetService'].isin(values)

In [ ]:
df['customerID'][0:2]