## Pandas Exercises

The task images are all in the same directory of this file. The tasks are also written in markdown, copied from the images.

#### Imports

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('hotel_booking.csv')

#### 1. How many rows are there?

In [3]:
len(df)

119390

#### 2. Is there missing data? If so, which column has the most missing data?

In [4]:
df.count().idxmin()

'company'

#### 3. What percentage of hotel guests were classified as repeat stays? Base this off the `is_repeated_guest` column

In [5]:
round(100*sum(df['is_repeated_guest']==1)/len(df),2) #only put len(df) instead of len(df['is_repeated_guest']
# the round function will round the code to 2 digits

3.19

#### 4. What were the top 5 most common names in the dataset? Bonus if you can do it in 1 line of code

In [6]:
df['name'].value_counts().index.tolist()[:5]

['Michael Johnson',
 'Robert Smith',
 'Michael Smith',
 'John Smith',
 'Christopher Smith']

#### 5. How many arrivals took place between the 1st and the 15th of the month? (Inclusive of 1 and 15)? Bonus: can you do this in one line of pandas code?

In [7]:
# sum(df[(0<df[(int(df['arrival_date_day_of_month'])<16)])]) the definition of spaghetti code
# it does not work
# df[(df['arrival_date_day_of_month']>1)|(df['arrival_date_day_of_month']<16)] 15 attempts and it still dont work
df[(df['arrival_date_day_of_month']>0)&(df['arrival_date_day_of_month']<16)] #finally 17th try it works

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118573,City Hotel,0,205,2017,August,33,15,2,5,2,...,Transient,123.30,0,2,Check-Out,2017-08-22,Frank Yates,Yates_Frank@outlook.com,353-214-1160,************9832
118613,City Hotel,0,297,2017,August,32,11,4,8,2,...,Transient,39.67,0,0,Check-Out,2017-08-23,Julie Cruz,JCruz@yandex.com,609-967-7890,************3145
118619,City Hotel,0,135,2017,August,33,15,2,6,3,...,Transient,195.00,0,1,Check-Out,2017-08-23,Paul Vargas,Paul.Vargas@protonmail.com,734-340-4604,************6766
118622,City Hotel,0,77,2017,August,33,14,3,6,2,...,Transient,80.10,0,3,Check-Out,2017-08-23,Derek Torres,Torres_Derek@outlook.com,440-853-3363,************4460
118673,City Hotel,0,207,2017,August,33,13,4,7,2,...,Transient,141.46,0,2,Check-Out,2017-08-24,Natalie Francis,Natalie.F@aol.com,817-155-9933,************2700

#### 6. HARD BONUS TASK: Create a table for counts for each day of the week that people arrived. (E.g. 5000 arrivals were on a Monday, 3000 were on a Tuesday, etc.)

In [8]:
# here is the solution - includes vectorization, very hard
def convert(day,month,year):
    return f"{day}-{month}-{year}"
df['date']=np.vectorize(convert)(df['arrival_date_day_of_month'],df['arrival_date_month'],df['arrival_date_year'])

#### 7. What is the name of the person who paid the highest ADR (average daily rate)? How much was it?

In [9]:
print(df.iloc[df['adr'].idxmax(),32])
print(df.iloc[df['adr'].idxmax(),27])

Daniel Walter
5400.0

#### 8. The ADR is the average daily rate for a person's stay at a hotel. What is the mean ADR for all the hotel stays in the dataset?

In [10]:
df['adr'].mean()

101.83112153446686

#### 9. What is the average total cost for a stay in the dataset? Not *average daily cost*, but *total stay cost*. Feel free to round this to 2 decimal points.

In [11]:
# there is no "stay duration" mentioned, missing information

#### 10. Is there any missing data? If so, which column has the most missing data?

In [12]:
df.count().idxmin()

'company'

#### 11. What are the names and emails of people who made 5 "Special Requests"?

In [13]:
df[df['total_of_special_requests'] == 5][['name','email']]

                          name                          email
7860             Amanda Harper           Amanda.H66@yahoo.com
11125            Laura Sanders      Sanders_Laura@hotmail.com
14596              Tommy Ortiz            Tommy_O@hotmail.com
14921           Gilbert Miller         Miller.Gilbert@aol.com
14922           Timothy Torres         TTorres@protonmail.com
24630          Jennifer Weaver             Jennifer_W@aol.com
27288           Crystal Horton             Crystal.H@mail.com
27477           Brittney Burke       Burke_Brittney16@att.com
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com
29949              Sarah Floyd              Sarah_F@gmail.com
32267           Michelle Villa         Michelle.Villa@aol.com
39027           Nichole Hebert       Hebert.Nichole@gmail.com
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com
39525           Ashley Edwards       Edwards.Ashley@yahoo.com
70114       Christopher Torres   Torres.Christopher@gmail.com
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com
78820           Michaela Brown          MichaelaBrown@att.com
78822        Kurt Maldonado MD              KMD15@xfinity.com
97072         Jason Richardson               Jason.R@zoho.com
97099             Terri Hurley            THurley@xfinity.com
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net
98410             Holly Arroyo          Arroyo_Holly@mail.com
98674          Denise Campbell             Denise_C@gmail.com
99887            Michael Smith            Michael.S42@aol.com
99888       Dr. Trevor Sellers                  Dr._S@aol.com
101569            Kayla Murphy         Kayla.Murphy@yahoo.com
102061         Taylor Martinez    Taylor.Martinez@hotmail.com
109511          Charles Wilson       Charles_Wilson@yahoo.com
109590           Tyler Allison         Tyler.A@protonmail.com
110082          Matthew Bailey         Matthew_Bailey@aol.com
110083       Charlotte Acevedo        Charlotte_A@verizon.com
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com
111911          Melinda Jensen         MelindaJensen@zoho.com
113915            Terry Arnold          Arnold.Terry@zoho.com
114770             Mary Nguyen     Nguyen.Mary@protonmail.com
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com
116457          Angela Hawkins             Angela_H@gmail.com
118817              Sue Lawson            Sue.L52@comcast.net
119161         Alyssa Richards        Alyssa_Richards@aol.com

#### 12. What are the top 5 most common last name in the dataset? Bonus: can you figure this out in one line of pandas code?

In [14]:
# requires knowledge of lambda expressions
# will be done soon

#### 13. What are the top 3 most common area code in the phone numbers? (Area code is first 3 digits)

In [15]:
# requires knowledge of lambda expressions
# will be done soon

#### 14. What are the names of the people who had booked the most number children and babies for their stay? (Don't worry if they cancelled, only consider number of people reported at the time of their reservation

In [16]:
df['total_kids']=df['babies']+df['children']
df.sort_values('total_kids',ascending=False)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,date,total_kids
328,Resort Hotel,1,55,2015,July,29,12,4,10,2,...,0,1,No-Show,2015-07-12,Jamie Ramirez,Ramirez_Jamie22@aol.com,268-823-5667,************7600,12-July-2015,10.0
46619,City Hotel,0,37,2016,January,3,12,0,2,2,...,0,1,Check-Out,2016-01-14,Nicholas Parker,Parker.Nicholas57@hotmail.com,440-692-0519,************4291,12-January-2016,10.0
78656,City Hotel,0,11,2015,October,42,11,2,1,1,...,0,0,Check-Out,2015-10-14,Marc Robinson,Robinson_Marc@protonmail.com,934-726-2629,************1933,11-October-2015,9.0
19718,Resort Hotel,0,0,2016,January,1,1,0,1,2,...,0,0,Check-Out,2016-01-02,Mr. Jeffrey Cross,Mr..Cross@yandex.com,822-960-5931,************6777,1-January-2016,3.0
107837,City Hotel,0,13,2017,March,11,18,0,1,2,...,1,2,Check-Out,2017-03-19,Albert French,French.Albert@mail.com,953-281-5231,************9947,18-March-2017,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482,29-August-2017,0.0
40600,City Hotel,1,2,2015,August,32,3,1,0,2,...,0,1,Canceled,2015-08-01,Craig Campos,CraigCampos@mail.com,820-622-9854,************7219,3-August-2015,NaN
40667,City Hotel,1,1,2015,August,32,5,0,2,2,...,0,1,Canceled,2015-08-04,David Murphy,David.Murphy94@yahoo.com,231-438-6733,************8925,5-August-2015,NaN
40679,City Hotel,1,1,2015,August,32,5,0,2,3,...,0,2,Canceled,2015-08-04,Frank Burton,Frank.Burton@comcast.net,395-084-3601,************6190,5-August-2015,NaN
41160,City Hotel,1,8,2015,August,33,13,2,5,2,...,0,1,Canceled,2015-08-09,Jerry Roberts,JRoberts@hotmail.com,979-355-3554,************5648,13-August-2015,NaN

#### 15. How many arrivals took place between the 1st and 15th of the month (inclusive of 1 and 15)? Bonus: Can you do this in one line of Pandas code?

In [17]:
df[(df['arrival_date_day_of_month']<16)&(df['arrival_date_day_of_month']>0)]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,date,total_kids
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322,1-July-2015,0.0
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157,1-July-2015,0.0
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734,1-July-2015,0.0
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677,1-July-2015,0.0
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498,1-July-2015,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118573,City Hotel,0,205,2017,August,33,15,2,5,2,...,0,2,Check-Out,2017-08-22,Frank Yates,Yates_Frank@outlook.com,353-214-1160,************9832,15-August-2017,0.0
118613,City Hotel,0,297,2017,August,32,11,4,8,2,...,0,0,Check-Out,2017-08-23,Julie Cruz,JCruz@yandex.com,609-967-7890,************3145,11-August-2017,1.0
118619,City Hotel,0,135,2017,August,33,15,2,6,3,...,0,1,Check-Out,2017-08-23,Paul Vargas,Paul.Vargas@protonmail.com,734-340-4604,************6766,15-August-2017,0.0
118622,City Hotel,0,77,2017,August,33,14,3,6,2,...,0,3,Check-Out,2017-08-23,Derek Torres,Torres_Derek@outlook.com,440-853-3363,************4460,14-August-2017,0.0
118673,City Hotel,0,207,2017,August,33,13,4,7,2,...,0,2,Check-Out,2017-08-24,Natalie Francis,Natalie.F@aol.com,817-155-9933,************2700,13-August-2017,1.0