## Pandas Exercises

The task images are all in the same directory of this file. The tasks are also written in markdown, copied from the images.

#### Imports

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('hotel_booking.csv')

#### 1. How many rows are there?

In [3]:
len(df)

119390

#### 2. Is there missing data? If so, which column has the most missing data?

In [4]:
df.count().idxmin()

'company'

#### 3. What percentage of hotel guests were classified as repeat stays? Base this off the `is_repeated_guest` column

In [5]:
round(100*sum(df['is_repeated_guest']==1)/len(df),2) #only put len(df) instead of len(df['is_repeated_guest']
# the round function will round the code to 2 digits

3.19

#### 4. What were the top 5 most common names in the dataset? Bonus if you can do it in 1 line of code

In [6]:
df['name'].value_counts().index.tolist()[:5]

['Michael Johnson',
 'Robert Smith',
 'Michael Smith',
 'John Smith',
 'Christopher Smith']

#### 5. How many arrivals took place between the 1st and the 15th of the month? (Inclusive of 1 and 15)? Bonus: can you do this in one line of pandas code?

In [7]:
# sum(df[(0<df[(int(df['arrival_date_day_of_month'])<16)])]) the definition of spaghetti code
# it does not work
# df[(df['arrival_date_day_of_month']>1)|(df['arrival_date_day_of_month']<16)] 15 attempts and it still dont work
df[(df['arrival_date_day_of_month']>0)&(df['arrival_date_day_of_month']<16)] #finally 17th try it works

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118573,City Hotel,0,205,2017,August,33,15,2,5,2,...,Transient,123.30,0,2,Check-Out,2017-08-22,Frank Yates,Yates_Frank@outlook.com,353-214-1160,************9832
118613,City Hotel,0,297,2017,August,32,11,4,8,2,...,Transient,39.67,0,0,Check-Out,2017-08-23,Julie Cruz,JCruz@yandex.com,609-967-7890,************3145
118619,City Hotel,0,135,2017,August,33,15,2,6,3,...,Transient,195.00,0,1,Check-Out,2017-08-23,Paul Vargas,Paul.Vargas@protonmail.com,734-340-4604,************6766
118622,City Hotel,0,77,2017,August,33,14,3,6,2,...,Transient,80.10,0,3,Check-Out,2017-08-23,Derek Torres,Torres_Derek@outlook.com,440-853-3363,************4460
118673,City Hotel,0,207,2017,August,33,13,4,7,2,...,Transient,141.46,0,2,Check-Out,2017-08-24,Natalie Francis,Natalie.F@aol.com,817-155-9933,************2700

#### 6. HARD BONUS TASK: Create a table for counts for each day of the week that people arrived. (E.g. 5000 arrivals were on a Monday, 3000 were on a Tuesday, etc.)

In [11]:
# here is the solution - includes vectorization, very hard
def convert(day,month,year):
    return f"{day}-{month}-{year}"
df['date']=np.vectorize(convert)(df['arrival_date_day_of_month'],df['arrival_date_month'],df['arrival_date_year'])

#### 7.